@using MvcOnlineOtomasyon.Models.Sınıflar
@model List<Departman>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainView.cshtml";
}
<div class="container">
    <table class="table table-bordered" style="margin-top:20px;">
        <tr>
            <th>#</th>
            <th>Kategori Adı</th>
            <th>Sil</th>
            <th>Güncelle</th>
            <th>Detaylar</th>
        </tr>
        @foreach (var k in Model)
        {
            <tr>
                <td>@k.DepartmanId</td>
                <td>@k.DepartmanAd</td>
                <td><a href="/Departmanlar/DepartmanSil/@k.DepartmanId" class="btn btn-danger">SİL</a></td>
                <td><a href="/Departmanlar/DepartmanGuncelle/@k.DepartmanId" class="btn btn-success">GÜNCELLE</a></td>
                <td><a href="/Departmanlar/DepartmanDetay/@k.DepartmanId" class="btn btn-dark">Detaylar</a></td>
            </tr>
        }
    </table>
    <a href="/Departmanlar/DepartmanEkle" class="btn btn-info">Departman Ekle</a>
</div>



